body {
    background-color: #ffffff;
    color: #003366;
    font-family: verdana, arial, sans-serif;
}

header {
    background-color: #003366;
    color: #AEC3E3;
    font-family: georgia;
}

h1 {
    line-height: 200%;
    text-indent: 1em;
}

.nav {
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
}

nav {
    font-weight: bold;
}

dt {
    color: #5280C5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: georgia;
}

footer {
    font-size: .70em;
    font-style: italic;
}

.category {
    font-weight: bold;
    color: #5380C5;
    font-family: georgia;
}

#wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
}